<!DOCTYPE html>
<html lang="en" class="no-js">
  {% include head.html %}
  {% include google-analytics.html %}
  <body>
    {% include header.html %}

    <div class="uk-height-medium uk-flex uk-flex-center uk-flex-middle uk-background-cover uk-light" data-src="assets/img/44021-Technology-Background-Images---AWB.jpeg" style='height: 300px;' uk-img>
        <h1 style="color: #fff;margin-top: 60px;">Microsoft Partner Resources</h1>
    </div>

    <div class="uk-section uk-section-primary uk-preserve-color">
        <div class="uk-container">    
            <div class="uk-panel uk-light uk-margin-medium">
                <h3>What are Microsoft Partner Resources?</h3>
            </div>    
            <div class="uk-grid-match uk-child-width-expand@m" uk-grid uk-scrollspy="cls: uk-animation-slide-left; target: .uk-card; delay: 300; repeat: false">
                <div>
                    <div class="uk-card uk-card-default uk-card-body">
                        <p>The Microsoft Partners Resources repository consists of documents, links, and other assets designed to aid partners in developing practices, upskilling, certifications, and taking their solutions to market. Currently, this repository houses our Learning Plan Resources, with more sections to be added in the future.</p>
                    </div>
                </div>
            </div>    
        </div>
    </div>

    <div class="uk-section uk-section-secondary uk-light">
        <div class="uk-container">    
            <h3>Microsoft GPS Strategy</h3>    
            <div class="uk-grid-match" uk-grid>
                <div>
                    <p>Microsoft Global Partner Solutions (GPS) is responsible for empowering partners to make more possible and transforming our US partner ecosystem into a strategic asset to drive Digital Transformation.<br/ >We're focused on:</p>
                    <ul class="uk-list uk-list-divider">
                        <li>Increasing profitable growth</li>
                        <li>Enhancing our partners' experience</li>
                        <li>Deepening the culture of partnering throughout the US subsidiary and Microsoft</li>
                    </ul>
                </div>
            </div>
    
        </div>
    </div>

    <div class="uk-child-width-1-3@m" uk-grid uk-scrollspy="cls: uk-animation-slide-bottom; target: .uk-card; delay: 300; repeat: false">
        <div>
            <a href="{{ site.baseurl }}/azure/">
                <div class="uk-card uk-card-default uk-card-large uk-card-body">
                    <h3 class="uk-card-title">Azure</h3>
                    <p>Click this section to explore Azure content.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ site.baseurl }}/business-applications/">
                <div class="uk-card uk-card-default uk-card-large uk-card-body" sr>
                    <h3 class="uk-card-title">Business Applications</h3>
                    <p>Click this section to explore Business Applications content.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ site.baseurl }}/industry/">
                <div class="uk-card uk-card-default uk-card-large uk-card-body">
                    <h3 class="uk-card-title">Industry</h3>
                    <p>Click this section to explore Industry content.</p>
                </div>
            </a>
        </div>
        <div>
            <a href="{{ site.baseurl }}/modern-workplace/">
                <div class="uk-card uk-card-default uk-card-large uk-card-body" sr>
                    <h3 class="uk-card-title">Modern Workplace + Security</h3>
                    <p>Click this section to explore Modern Workplace & Security content.</p>
                </div>
            </a>
        </div>
    </div>

    {% include footer.html %}
    {% include scripts.html %}
  </body>
</html>
